FORMAT: 1A
HOST: https://www.hamiltonservices.com:10003/appservice.svc

# carwash

API for mobile app to allow users to purchase and gift car washes.

## Locations [/locations]

Car wash locations for the apps owner.

### Get All Locations [GET]

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
            
+ Response 200 (application/json)

    + Body
    
            [
                {
                    "id": 123456789,
                    "address1": "1026 Hamilton Dr",
                    "address2": "",
                    "city": "Holland",
                    "state": "OH",
                    "zip": "43528",
                    "phone": "4198674858",
                    "details": [
                        "Full service location!",
                        "",
                        "Hours:",
                        "Mon - Sun: 8AM to 8PM"
                    ],
                    "latitude": 0.000000
                    "longitude": 0.000000
                },
            ]

### Get Location [GET /locations/{location_id}]

+ Parameters
    + location_id: 123456789 (number, required) - ID of the Location

+ Request 

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Response 200 (application/json)

    + Body
    
            {
                "id": 123456789,
                "address1": "1026 Hamilton Dr",
                "address2": "",
                "city": "Holland",
                "state": "OH",
                "zip": "43528",
                "phone": "4198674858",
                "details": [
                    "Full service location!",
                    "",
                    "Hours:",
                    "Mon - Sun: 8AM to 8PM"
                ],
                "latitude": 0.000000
                "longitude": 0.000000

            }


## Products [/products]

Purchasable items available from any of owners car washes. Available at least one of location, but not necessarily all locations.

### Get All Products [GET]

Get a list all products for all locations.

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625


+ Response 200 (application/json)

        
   + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "locations": [123456789, 111222333, 666777888]
                    "details": [
                        "Wash",
                        "Under Carriage Blast",
                        "Turbo Dry"
                    ],
                    "logo": {
                        "image": 3,
                        "red": 200,
                        "green": 100,
                        "blue": 75,
                        "alpha": 0.8
                    }
                },
                {
                    "id": 2,
                    "price": 13.00,
                    "name": "Premium Wash",
                    "locations": [123456789, 111222333, 666777888]
                    "details": [
                        "Wash",
                        "Wax"
                    ],
                    "logo": {
                        "image": 3,
                        "red": 200,
                        "green": 100,
                        "blue": 75,
                        "alpha": 0.8
                    }
                }
            ]

### Get Product [GET /products/{product_id}]

Get a specific product by product ID.

+ Parameters
    + product_id: 1 (number, required) - ID of the product

+ Request

     + Header
     
            app_key: 89b825b5134c507407be5ad51711d625

+ Response 200 (application/json)

    + Body
    
            {
                "id": 1,
                "price": 15.00,
                "name": "Ultimate Wash",
                "locations": [123456789, 111222333, 666777888]
                "details": [
                    "Wash",
                    "Under Carriage Blast",
                    "Turbo Dry"
                ],
                "logo": {
                    "image": 3,
                    "red": 200,
                    "green": 100,
                    "blue": 75,
                    "alpha": 0.8
                }
            }

### Get All Location Products[GET /locations/{location_id}/products]

Get a list of all products avaiable at a specific location.

+ Parameters
    + location_id: 123456789 (number, required) - ID of the Location

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625


+ Response 200 (application/json)

    + Body
    
            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "locations": [123456789, 111222333, 666777888]
                    "details": [
                        "Wash",
                        "Under Carriage Blast",
                        "Turbo Dry"
                    ]
                },
                {
                    "id": 2,
                    "price": 13.00,
                    "name": "Premium Wash",
                    "locations": [123456789, 111222333, 666777888]
                    "details": [
                        "Wash",
                        "Wax"
                    ]
                }
            ]

## Users [/users]

User of the app. Can purchase car washes and redeem coupons.

### Create User [POST]

Returns an authentication token which will be used to identify this user going forward.

+ Request (application/json)
    
    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
    
    + Body

            {
              "first_name": "string",
              "last_name": "string",
              "email_address": "string",
              "password": "string",
              "device_id": "eb577432a6378798b408e77531656c5c"
            }

+ Response 201 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Log In [POST /users/login]

Log in if the auth token is expired or invalid

+ Request (application/json)

    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
    
    + Body
    
            {
                "email_address": "string",
                "password": "string",
                "device_id": "eb577432a6378798b408e77531656c5c"
            }

+ Response 200

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Request Password Reset [POST /users/forgot_password]

Request a password reset that will allow the user to change there 

+ Request (application/json)

    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
    
    + Body
    
            {
                "email_address": "string",
            }

+ Response 204


### Create a New Password  [POST /users/forgot_password/{code}]

Changes the users password as long as the code is active and the email_address matches 

+ Parameters
    + code: 123456 (number, required) Password reset verification code.

+ Request (application/json)

    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
    
    + Body
    
            {
                "email_address": "string",
                "password": "string"
                "device_id": "eb577432a6378798b408e77531656c5c"
            }

+ Response 200

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

+ Response 401

    Returned if the code has expired or does not match the email.
    
    + Body

+ Response 404

    Returned if code not found.

    + Body



##  Authorized Users [/users/{auth_token}]

+ Parameters
    + auth_token (string, required) - token representing an authenticated user.

### Update User [PATCH] 

+ Request (application/json)

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
    
    + Body
    
            {
              "first_name": "string",
              "last_name": "string",
              "email_address": "string",
              "password": "string",
            }

+ Response 200 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Verify User Token [GET /users/{auth_token}]

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625


+ Response 200 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Expire User token [DELETE]

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Response 204

## User Rewards [/users/{auth_token}/rewards]

Product or Coupons that the user has purchased or claimed.

### List [GET]
+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Parameters
    + auth_token (string, required) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body
    
            { 
                "products": 
                [
                    {
                        "id": 1
                        "name": "Ultimate Wash",
                        "locations": [123456789, 111222333, 666777888],
                        "code": 012345678,
                        "purchased_on": "2017-01-13 13:54:23",
                        "expires_on": ""
                        "max_uses": 1,
                        "use_count": 1,
                        "last_used": "2017-01-13 13:56:13",
                        "card_type": "Visa",
                        "card_number": "###1234",
                        "auth_number": "12345456",
                        "purchase_amount": 15.00,
                        "is_gift": true,
                        "gifted_to": "Jane Doe",
                        "gifted_email": "jdoe@email.com",
                        "gift_message": "Get your car clean!",
                        "logo": {
                            "image": 3,
                            "red": 200,
                            "green": 100,
                            "blue": 75,
                            "alpha": 0.8
                        }
                   },
                   {
                        "id": 2
                        "name": "Premium Wash",
                        "locations": [123456789, 111222333, 666777888],
                        "code": 123456789,
                        "purchased_on": "2017-01-13 13:54:23",
                        "expires_on": "2017-04-01",
                        "max_uses": 5,
                        "use_count": 1,
                        "last_used": "2017-01-13 13:56:13"
                        "card_type": "Visa",
                        "card_number": "###1234",
                        "auth_number": "12345456",
                        "purchase_amount": 15.00,
                        "is_gift": false,
                        "logo": {
                            "image": 3,
                            "red": 200,
                            "green": 100,
                            "blue": 75,
                            "alpha": 0.8
                        }
                   }
                ],
                "deals":
                [
                    {
                        "id": 1
                        "name": "$2 off any wash",
                        "code": 123456789,
                        "claimed_on": "2017-01-13 13:56:13",
                        "expires_on": "2017-04-01",
                        "max_uses": 1,
                        "use_count": 0,
                        "last_used": ""
                        "locations": [123456789, 111222333, 666777888],
                        "logo": {
                            "image": 3,
                            "red": 200,
                            "green": 100,
                            "blue": 75,
                            "alpha": 0.8
                        }
                    }
                ]
            }


## User Deals [/users/{auth_token}/deals]

Deals available for the user to claim at any of the owners car washes. User is required to filter out claimed ones.

### List Deals [GET]
+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Parameters
    + auth_token (required, string) - token representing an authenticated user.

+ Response 200 (application/json)


    + Body
    
            [
              {
                "claim_limit": 1,
                "description": "Get 1$ off the Prmium Wash",
                "expires_on": "2017-02-25 12:00:00.000",
                "id": 4,
                "locations": [
                  178984815,
                  945428234
                ],
                "name": "$1 Premium Wash (app)",
                "number_claimed": 0,
                "terms": "Cannot be combined with any other offer.",
                "logo": {
                    "image": 3,
                    "red": 200,
                    "green": 100,
                    "blue": 75,
                    "alpha": 0.8
                }
              },
              {
                "claim_limit": 1,
                "description": "Get a from Basic wash for signing up.",
                "expires_on": null,
                "id": 8,
                "locations": [
                  945428234
                ],
                "name": "Free Basic for Sign Up",
                "number_claimed": 0,
                "terms": "Cannot be combined with other offers.",
                "logo": {
                    "image": 3,
                    "red": 200,
                    "green": 100,
                    "blue": 75,
                    "alpha": 0.8
                }
              }
            ]         
            
### List Deals for a Location [GET /users/{auth_token}/locations/{location_id}/deals]

Deals available for the user to claim at a particular location.  User is required to filter out claimed ones.

+ Request

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Parameters
    + location_id: 945428234 (number, required) - ID of the Location
    + auth_token (string, required) - token representing an authenticated user.

+ Response 200 (application/json)

     + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
            
    + Body
    
            [
              {
                "claim_limit": 1,
                "description": "Get 1$ off the Prmium Wash",
                "expires_on": "2017-02-25 12:00:00.000",
                "id": 4,
                "locations": [
                  178984815,
                  945428234
                ],
                "name": "$1 Premium Wash (app)",
                "number_claimed": 0,
                "terms": "Cannot be combined with any other offer.",
                "logo": {
                    "image": 3,
                    "red": 200,
                    "green": 100,
                    "blue": 75,
                    "alpha": 0.8
                }
              }
            ]
            
### Claim Deal [POST /users/{auth_token}/deals/{deal_id}]

+ Parameters
    + deal_id: 1 (number, required) The ID of the deal to be claimed.

+ Request 

    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625

+ Response 200

            {
                "id": 1
                "name": "$2 off any wash",
                "code": 123456789,
                "claimed_on": "2017-01-13 13:56:13",
                "expires_on": "2017-04-01",
                "max_uses": 1,
                "use_count": 0,
                "last_used": ""
                "locations": [123456789, 111222333, 666777888]
           }
           
### Purchase Product [POST /users/{auth_token}/products]

Records the sale of a product and return the code created for the product.

+ Request

    + Header
    
            app_key: 89b825b5134c507407be5ad51711d625
        
    + Body
    
            {
                "id": 1,
                "purchased_on": "2017-2-1 11:25:13",
                "card_number": "###1234",
                "auth_number": "12345456",
                "purchase_amount": 15.00,
                "is_gift": true,
                "gifted_to": "Jane Doe",
                "gifted_email": "jdoe@email.com",
                "gift_message": "Get your car clean!",
            }
    
+ Response 200 (application/json)

            {
                "id": 1
                "name": "Ultimate Wash",
                "code": 012345678,
                "locations": [123456789, 111222333, 666777888],
                "purchased_on": "2017-01-13 13:54:23",
                "expires_on": ""
                "max_uses": 1,
                "use_count": 1,
                "last_used": "2017-01-13 13:56:13"
                "card_number": "###1234",
                "auth_number": "12345456",
                "purchase_amount": 15.00,
                "is_gift": true,
                "gifted_to": "Jane Doe",
                "gifted_email": "jdoe@email.com",
                "gift_message": "Get your car clean!",
                "logo": {
                    "image": 3,
                    "red": 200,
                    "green": 100,
                    "blue": 75,
                    "alpha": 0.8
                }
          }