FORMAT: 1A
HOST: https://api-server.dev

# carwash

API for mobile app to allow users to purchase and gift car washes.

## Locations [/{app_key}/locations]

Car wash locations for the apps owner.

### List all locations [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "street": "1026 Hamilton Dr",
                    "city": "Holland",
                    "state": "OH",
                    "zip": "43528",
                    "phone": "4198674858",
                    "latitude": 41.6215264,
                    "longitude": -83.6999915,
                }
            ]

## Location [/{app_key}/location/{location_id}]

### Get location [GET]

+ Parameters
    + location_id: 1 (required, number) - ID of the Location
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Response 200 (application/json)

    + Body

              {
                  "id": 1,
                  "street": "1026 Hamilton Dr",
                  "city": "Holland",
                  "state": "OH",
                  "zip": "43528",
                  "phone": "4198674858",
                  "latitude": 41.6215264,
                  "longitude": -83.6999915,
              }

## Products [/{app_key}/products]

Purchasable items available from any of owners car washes. Available at least one of location, but not necessarily all locations.

### Get a list of all purchasable products across all locations [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
                }
            ]

## Products [/{app_key}/locations/{location_id}/products]

Purchasable items available from this particular location. Available at least one of location, but not necessarily all locations.

### Get a list of purchasable products for a location [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
                }
            ]


## Product [/{app_key}/products/{product_id}]

### Get product [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + product_id: 1 (required, number) - ID of the product

+ Response 200 (application/json)

    + Body

            {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
            }
        
## Users [/{app_key}/users]

User of the app. Can purchase car washes and redeem coupons.

### Create a user [POST]

Returns an authentication token which will be used to identify this user going forward.

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Request (application/json)

        {
          "first_name": "string",
          "last_name": "string",
          "email_address": "string",
          "password": "string",
        }

+ Response 201 (application/json)

    + Body
    
            {
                "first_name": "Sean",
                "last_name": "Temple",
                "email_address": "stemple@chepri.com",
                "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
            }

## User [/{app_key}/users/{auth_token}]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token (string) - token representing an authenticated user.

### Verify user token [GET]

+ Response 200 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Expire user token [DELETE]

+ Response 204

## User Rewards [/{app_key}/users/{auth_token}/rewards]

Product or Coupons that the user has purchased or claimed.

### List [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body

            [
                  {
                      "name": "Ultimate Wash",
                      "code": 012345678,
                      "expires_on": "",
                      "redeemed_at": "",
                  },
                  {
                      "name": "Premium Wash",
                      "code": 123456789,
                      "expires_on": "2017-04-01",
                      "redeemed_at": "2017-01-20T08:40:51.620Z",
                  },
                  {
                      "name": "$2 off any wash",
                      "code": 123456789,
                      "expires_on": "2017-04-01",
                      "redeemed_at": "2017-01-03T08:40:51.620Z",
                  }
            ]

## Forgot Password [/{app_key}/user/forgot_password]

Request a password reset that will allow the user to change there 

### Create a forgot password request [POST]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Request (application/json)

        {
            "email_address": "string",
        }

+ Response 204

## User Deals [/{app_key}/users/{auth_token}/deals]

Deals available for the user to claim at any of the owners car washes. User is required to filter out claimed ones.

### List Deals [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body

            [
                { 
                  "id": 1
                  "name": "$2 off any wash",
                  "description": "Claim this and get $2 off your next wash!",
                  "code": 123456789,
                  "expires_on": "2017-03-01",
                },
                {
                  "id": 2
                  "name": "Free add-on",
                  "description": "Buy any wash and get a free add-on!",
                  "code": 123456789,
                  "expires_on": "2017-04-01",
                }
            ]

## User Deals2 [/{app_key}/users/{auth_token}/deals2]

Deals available for the user to claim at any of the owners car washes. User is required to filter out claimed ones.

### List Deals2 [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

        [
            { 
                "id": 1
                "name": "$2 off any wash",
                "description": "Claim this and get $2 off your next wash!",
                "expires_on": "2017-03-01",
                "claim_limit": 3,
                "claimed":
                {
                    {
                        "claimed_on": "2017-01-13 13:54:23",
                        "code": "012345678",
                        "expires_on": "",
                        "max_uses": 1,
                        "use_count": 1,
                        "last_used": "2017-01-13 13:56:13"
                    },
                    {
                        "claimed_on": "2017-01-15 11:37:45",
                        "code": "019876543",
                        "expires_on": ""
                        "max_uses": 1,
                        "use_count": 1,
                        "last_used": ""
                    }
                }
            },
            {
                "id": 2
                "name": "Free add-on",
                "description": "Buy any wash and get a free add-on!",
                "expires_on": "2017-04-01",
                "claim_limit": 1
            }
        ]


## User Deals [/{app_key}/users/{auth_token}/locations/{location_id}/deals]

Deals available for the user to claim at a particular location. User is required to filter out claimed ones.

### List User Deails for a location [GET]

+ Parameters
    + location_id: 1 (required, number) - ID of the Location
    + auth_token (string) - token representing an authenticated user.
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.

+ Response 200 (application/json)

    + Body

            [
                {
                  "id": 1
                  "name": "$2 off any wash",
                  "description": "Claim this and get $2 off your next wash!",
                  "code": 123456789,
                  "expires_on": "2017-03-01",
                },
                {
                  "id": 2
                  "name": "Free add-on",
                  "description": "Buy any wash and get a free add-on!",
                  "code": 123456789,
                  "expires_on": "2017-04-01",
                }
            ]

## User Deal [/{app_key}/users/{auth_token}/deals/{deal_id}]
loc
### Get deal [GET]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token: 65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ (required, string) - 
    + deal_id: 1 (required, number) - ID of the deal

+ Response 200 (application/json)

    + Body

            {
                "id": 1
                "name": "$2 off any wash",
                "description": "Claim this and get $2 off your next wash!",
                "code": 123456791,
                "expires_on": "2017-03-01",
            }
            
## Credit Cards [/{app_key}/cards/{auth_token}]

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + auth_token: 65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ (required, string)

### Get list of cards [GET] 

Get the list of all the user's saved credit cards.

+ Response 200 (application/json)

        [
            {
                "id": 1
                "processor": "E-xact",
                "type": "Visa",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg",
                "auth_number": "A12345"
            },
            {
                "id": 2
                "processor": "PaymentExpress",
                "type": "MasterCard",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg"
            }
        ]
            
### Add new card [POST]

Save a new credit card to the users account and return the updated list of cards.

+ Request (application/json)

        [
            {
                "processor": "E-xact",
                "type": "Visa",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg",
                "auth_number": "A12345"
            }
        ]
   
+ Response 201 (application/json)

        [
            {
                "id": 1
                "processor": "E-xact",
                "type": "Visa",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg",
                "auth_number": "A12345"
            },
            {
                "id": 2
                "processor": "PaymentExpress",
                "type": "MasterCard",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg"
            }
        ]

### Delete a card [DELETE /{app_key}/cards/{auth_token}/{card_id}]

Delete a saved card from the users account and return the updated list of cards.

+ Parameters
    + app_key: NfQo7MYpXLXyq2gXvfjH (required) - A unique key that identifies the branded app and associates it with a Hosted Solutions account.
    + card_id: 1 (required, number) 
   
+ Response 200 (application/json)

        [
            {
                "id": 1
                "processor": "E-xact",
                "type": "Visa",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg",
                "auth_number": "A12345"
            },
            {
                "id": 2
                "processor": "PaymentExpress",
                "type": "MasterCard",
                "masked_number": "...1234",
                "exp_month": 10,
                "exp_year": 20,
                "token":  "abcdefg"
            }
        ]