FORMAT: 1A
HOST: https://api-server.dev

# carwash

API for mobile app to allow users to purchase and gift car washes.

## Locations [/locations]

Car wash locations for the apps owner.

### Get All Locations [GET]

+ Request (application/json)

     + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954
            
+ Response 200 (application/json)

    + Body
    
            [
                {
                    "id": 123456789,
                    "address1": "1026 Hamilton Dr",
                    "address2": "",
                    "city": "Holland",
                    "state": "OH",
                    "zip": "43528",
                    "phone": "4198674858",
                    "description": ""
                }
            ]

### Get Location [GET /locations/{location_id}]

+ Parameters
    + location_id: 1 (required, number) - ID of the Location

+ Request (application/json)

     + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954

+ Response 200 (application/json)

    + Body
    
            {
                "id": 123456789,
                "address1": "1026 Hamilton Dr",
                "address2": "",
                "city": "Holland",
                "state": "OH",
                "zip": "43528",
                "phone": "4198674858",
                "description": ""
            }


## Products [/products]

Purchasable items available from any of owners car washes. Available at least one of location, but not necessarily all locations.

### Get a list of all purchasable products across all locations [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
                }
            ]

## Products [/locations/{location_id}/products]

Purchasable items available from this particular location. Available at least one of location, but not necessarily all locations.

### Get a list of purchasable products for a location [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
                }
            ]


## Product [/products/{product_id}]

### Get product [GET]

+ Parameters
    + product_id: 1 (required, number) - ID of the product

+ Response 200 (application/json)

    + Body

            {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
            }
        
## Users [/users]

User of the app. Can purchase car washes and redeem coupons.

### Create User [POST]

Returns an authentication token which will be used to identify this user going forward.

+ Request (application/json)
    
    + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954
    
    + Body

            {
              "first_name": "string",
              "last_name": "string",
              "email_address": "string",
              "password": "string",
            }

+ Response 201 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Log In [POST /users/login]

Log in if the auth token is expired or invalid

+ Request (application/json)

    + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954
    
    + Body
    
            {
                "email_address": "string",
                "password": "string",
            }

+ Response 200

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Request Password [POST /users/forgot_password]

Request a password reset that will allow the user to change there 

+ Request (application/json)

    + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954
    
    + Body
    
            {
                "email_address": "string",
            }

+ Response 204



##  Authorized Users [/users/{auth_token}]

+ Parameters
    + auth_token (string) - token representing an authenticated user.

### Update User [PATCH] 

+ Request (application/json)

     + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954
    
    + Body
    
            {
              "first_name": "string",
              "last_name": "string",
              "email_address": "string",
              "password": "string",
            }

+ Response 200 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Verify User Token [GET /users/{auth_token}]

+ Request

     + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954


+ Response 200 (application/json)

        {
            "first_name": "Sean",
            "last_name": "Temple",
            "email_address": "stemple@chepri.com",
            "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
        }

### Expire User token [DELETE]

+ Request

     + Header
    
            app_key: 71d6ed46ab67aa4602c8c41c64c4b954

+ Response 204

## User Rewards [/users/{auth_token}/rewards]

Product or Coupons that the user has purchased or claimed.

### List [GET]

+ Parameters
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body

            [
                  {
                      "name": "Ultimate Wash",
                      "code": 012345678,
                      "expires_on": "",
                      "redeemed_at": "",
                  },
                  {
                      "name": "Premium Wash",
                      "code": 123456789,
                      "expires_on": "2017-04-01",
                      "redeemed_at": "2017-01-20T08:40:51.620Z",
                  },
                  {
                      "name": "$2 off any wash",
                      "code": 123456789,
                      "expires_on": "2017-04-01",
                      "redeemed_at": "2017-01-03T08:40:51.620Z",
                  }
            ]


## User Deals [/users/{auth_token}/deals]

Deals available for the user to claim at any of the owners car washes. User is required to filter out claimed ones.

### List Deals [GET]

+ Parameters
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body

            [
                { 
                  "id": 1
                  "name": "$2 off any wash",
                  "description": "Claim this and get $2 off your next wash!",
                  "code": 123456789,
                  "expires_on": "2017-03-01",
                },
                {
                  "id": 2
                  "name": "Free add-on",
                  "description": "Buy any wash and get a free add-on!",
                  "code": 123456789,
                  "expires_on": "2017-04-01",
                }
            ]

## User Deals2 [/users/{auth_token}/deals2]

Deals available for the user to claim at any of the owners car washes. User is required to filter out claimed ones.

### List Deals2 [GET]

+ Parameters
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

        [
            { 
                "id": 1
                "name": "$2 off any wash",
                "description": "Claim this and get $2 off your next wash!",
                "expires_on": "2017-03-01",
                "claim_limit": 3,
                "claimed":
                {
                    {
                        "claimed_on": "2017-01-13 13:54:23",
                        "code": "012345678",
                        "expires_on": "",
                        "max_uses": 1,
                        "use_count": 1,
                        "last_used": "2017-01-13 13:56:13"
                    },
                    {
                        "claimed_on": "2017-01-15 11:37:45",
                        "code": "019876543",
                        "expires_on": ""
                        "max_uses": 1,
                        "use_count": 1,
                        "last_used": ""
                    }
                }
            },
            {
                "id": 2
                "name": "Free add-on",
                "description": "Buy any wash and get a free add-on!",
                "expires_on": "2017-04-01",
                "claim_limit": 1
            }
        ]


## User Deals [/users/{auth_token}/locations/{location_id}/deals]

Deals available for the user to claim at a particular location. User is required to filter out claimed ones.

### List User Deails for a location [GET]

+ Parameters
    + location_id: 1 (required, number) - ID of the Location
    + auth_token (string) - token representing an authenticated user.

+ Response 200 (application/json)

    + Body

            [
                {
                  "id": 1
                  "name": "$2 off any wash",
                  "description": "Claim this and get $2 off your next wash!",
                  "code": 123456789,
                  "expires_on": "2017-03-01",
                },
                {
                  "id": 2
                  "name": "Free add-on",
                  "description": "Buy any wash and get a free add-on!",
                  "code": 123456789,
                  "expires_on": "2017-04-01",
                }
            ]

## User Deal [/users/{auth_token}/deals/{deal_id}]
loc
### Get deal [GET]

+ Parameters
    + auth_token: 65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ (required, string) - 
    + deal_id: 1 (required, number) - ID of the deal

+ Response 200 (application/json)

    + Body

            {
                "id": 1
                "name": "$2 off any wash",
                "description": "Claim this and get $2 off your next wash!",
                "code": 123456791,
                "expires_on": "2017-03-01",
            }