FORMAT: 1A
HOST: https://api-server.dev

# carwash

API for mobile app to allow users to purchase and gift car washes.

## Locations [/locations]

Car wash locations for the apps owner.

### List all locations [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "street": "1026 Hamilton Dr",
                    "city": "Holland",
                    "state": "OH",
                    "zip": "43528",
                    "phone": "4198674858",
                    "latitude": 41.6215264,
                    "longitude": -83.6999915,
                }
            ]

## Location [/locations/{location_id}]

### Get location [GET]

+ Parameters
  + location_id: 1 (required, number) - ID of the Location

+ Response 200 (application/json)

    + Body

              {
                  "id": 1,
                  "street": "1026 Hamilton Dr",
                  "city": "Holland",
                  "state": "OH",
                  "zip": "43528",
                  "phone": "4198674858",
                  "latitude": 41.6215264,
                  "longitude": -83.6999915,
              }

## Products [/products]

Purchasable items available from the app owners car washes. Available at least one of location, but not necessarily all locations.

### Get a list of purchasable products [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "id": 1,
                    "price": 15.00,
                    "name": "Ultimate Wash",
                    "descriptions": [
                      { 
                        "description": "Wash"
                      },
                      { 
                        "description": "Under Carriage Blast"
                      },
                      { 
                        "description": "Turbo Dry"
                      },
                    ]
                }
            ]


## Product [/product/{product_id}]

### Get product [GET]

+ Parameters
  + product_id: 1 (required, number) - ID of the product

+ Response 200 (application/json)

    + Body

        {
            "id": 1,
            "street": "1026 Hamilton Dr",
            "city": "Holland",
            "state": "OH",
            "zip": "43528",
            "phone": "4198674858",
            "latitude": 41.6215264,
            "longitude": -83.6999915,
        }

## Users [/users]

User of the app. Can purchase car washes and redeem coupons.

### Create a user [POST]

Returns an authentication token which will be used to identify this user going forward.

+ Request (application/json)

        {
          "first_name": "string",
          "last_name": "string",
          "email_address": "string",
          "password": "string",
        }

+ Response 201 (application/json)

   + Body
            {
              "first_name": "Sean",
              "last_name": "Temple",
              "email_address": "stemple@chepri.com",
              "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
            }

## User [/users/{auth_token}]

+ Parameters
    + auth_token (string) - token representing an authenticated user.

### Verify user token [GET]

+ Response 200 (application/json)

  {
    "first_name": "Sean",
    "last_name": "Temple",
    "email_address": "stemple@chepri.com",
    "auth_token": "65wa6MVCAHiSGv3ilmrSTlk5L20l6nCQ",
  }

### Expire user token [DELETE]

+ Response 204

## User Rewards [/user/{auth_token}/rewards]

Product or Coupons that the user has purchased or claimed.

### List [GET]

+ Response 200 (application/json)

    + Body

      [
          {
              "name": "Ultimate Wash",
              "code": 012345678,
              "expires_on": "",
              "redeemed_at": "",
          },
          {
              "name": "Premium Wash",
              "code": 123456789,
              "expires_on": "2017-04-01",
              "redeemed_at": "2017-01-20T08:40:51.620Z",
          },
          {
              "name": "$2 off any wash",
              "code": 123456789,
              "expires_on": "2017-04-01",
              "redeemed_at": "2017-01-03T08:40:51.620Z",
          }
        ]

## Forgot Password [/user/forgotpassword]

Request a password reset that will allow the user to change there 

### Create a forgot password request [POST]

+ Request (application/json)

  {
    "email_address": "string",
  }

+ Response 204

## User Deals [/user/{auth_token}/deals]

Deals available for the user to claim. User is required to filter out claimed ones.

### List [GET]

+ Response 200 (application/json)

    + Body

      [
        {
          "id": 1
          "name": "$2 off any wash",
          "description": "Claim this and get $2 off your next wash!",
          "code": 123456789,
          "expires_on": "2017-03-01",
        },
        {
          "id": 2
          "name": "Free add-on",
          "description": "Buy any wash and get a free add-on!",
          "code": 123456789,
          "expires_on": "2017-04-01",
        }
       ]


## User Deal [/user/{auth_token}/deals/{deal_id}]

### Get deal [GET]

+ Parameters
  + auth_token:  (required, string) - 
  + deal_id: 1 (required, number) - ID of the deal

+ Response 200 (application/json)

    + Body

        {
          "id": 1
          "name": "$2 off any wash",
          "description": "Claim this and get $2 off your next wash!",
          "code": 123456791,
          "expires_on": "2017-03-01",
        }

